@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	table {
		@apply w-full
		border-collapse;
	}

	tr {
		@apply [&:not(:first-child)]:border-b
		border-gray-200
		[&:not(:first-child)]:hover:bg-gray-100;
	}

	th {
		@apply px-5
		py-3
		text-sm
		font-semibold
		bg-white hover:bg-gray-100
		rounded-md
		cursor-pointer
		duration-300;
	}

	/* !! Hyperlink Elements (may cause error) */
	a {
		@apply cursor-pointer
		text-black;
	}

	input {
		@apply px-5
		py-1
		w-full
		border
		border-gray-300
		rounded-lg;
	}

	select {
		@apply px-5
		py-1
		w-full
		border
		border-gray-300
		rounded-lg;
	}
}

@layer components {
	/* -- Sidebar Component -- */
	.COMPONENT_SIDEBAR_CONTAINER {
		@apply flex
		flex-col
		justify-between
		w-full
		max-w-[300px]
		h-dvh
		bg-[#0C0E0D]
		sticky
		top-0;
	}
	
	.COMPONENT_SIDEBAR_BUTTON {
		@apply relative
        px-9
        py-2
        data-[active="true"]:bg-[#191C21]
        data-[active="true"]:pl-12
        before:absolute
        before:left-0
        before:top-0
        before:w-[4px]
        before:h-full
        duration-300
        hover:pl-12
        hover:bg-[#111317]
        transition-all;
	}

	.COMPONENT_SIDEBAR_BUTTON a {
		@apply flex
		items-center
		gap-2
		outline-none;
	}

	.COMPONENT_SIDEBAR_BUTTON:has(a:focus) {
		@apply bg-[#111317];
	}

	.COMPONENT_SIDEBAR_LOGOUT_BUTTON {
		@apply relative
        px-9
        py-2
        outline-none
        before:absolute
        before:left-0
        before:top-0
        before:w-[4px]
        before:h-full
        hover:bg-[#111317]
        transition-all;
	}

	.COMPONENT_SIDEBAR_LOGOUT_BUTTON a {
		@apply flex
		items-center
		gap-2
		outline-none;
	}

	.COMPONENT_SIDEBAR_LOGOUT_BUTTON:has(a:focus) {
		@apply bg-[#111317];
	}
	/* -- End of Sidebar Component -- */





	/* Sticker Tab Component */
	.COMPONENT_STICKER_CONTAINER {
		@apply flex
		flex-col
		gap-5
		pt-2;
	}

	.COMPONENT_STICKER_CONTAINER_ROW {
		@apply columns-5
		gap-5
		w-full
		justify-between;
	}

	.COMPONENT_STICKER_CONTAINER_ROW_OPTION {
		@apply flex
		flex-col
		w-full
		h-28
		justify-between
		p-3
		cursor-pointer
		text-black;
	}

	.COMPONENT_STICKER_CONTAINER_ROW_OPTION_PRICE {
		@apply flex
		w-full
		justify-end
		text-xs;
	}

	.COMPONENT_STICKER_CONTAINER_ROW_OPTION_TITLE {
		@apply text-center
		text-lg
		font-semibold;
	}

	.COMPONENT_STICKER_CONTAINER_ROW_OPTION_TYPE {
		@apply text-center
		text-xs
		font-semibold;
	}

	.COMPONENT_STICKER_CONTAINER_ROW:nth-of-type(3) {
		@apply columns-3
		gap-5
		flex
		flex-row
		justify-center;
	}

	.COMPONENT_STICKER_CONTAINER_ROW_OPTION_CENTER {
		@apply flex
		flex-col
		max-w-40
		w-full
		h-24
		justify-start
		cursor-pointer
		p-3;
	}

	.COMPONENT_STICKER_CONTAINER_ROW_OPTION_NONE {
		@apply flex
		flex-col
		max-w-40
		w-full
		h-24
		text-sm
		font-semibold
		justify-center
		cursor-pointer
		items-center;
	}

	.COMPONENT_STICKER_CONTAINER_ROW_OPTION_CENTER div:nth-of-type(2) {
		@apply text-center
		text-sm
		font-semibold
		text-black
		pt-3;
	}
	/* End of Sticker Tab Component */





	/* -- Global Classes -- */
	.GLOBAL_PAGE {
		@apply flex
		bg-[#F6F6F9];
	}

	.GLOBAL_PAGE_CONTAINER {
		@apply flex
		flex-col
		w-full;
	}

	.GLOBAL_HEADER {
		@apply flex
		items-center
		justify-between
		px-10
		pt-8
		pb-6;
	}

	.GLOBAL_HEADER img {
		@apply rounded-full
		w-[45px]
		ml-6;
	}

	.GLOBAL_HEADER_TITLE {
		@apply flex
		flex-row
		items-center;
	}

	.GLOBAL_HEADER_TITLE span {
		@apply pl-2
		text-2xl
		font-bold;
	}

	.GLOBAL_HEADER_USER {
		@apply flex
		flex-row
		items-center;
	}

	.GLOBAL_HEADER_COLUMN {
		@apply flex
		flex-col
		text-right;
	}

	.GLOBAL_HEADER_COLUMN p {
		@apply text-sm
		text-[#7F7F7F];
	}

	.GLOBAL_HEADER_COLUMN strong {
		@apply text-black;
	}

	.GLOBAL_BOX_DIV {
		@apply rounded-3xl
        shadow-[0_2rem_3rem_rgba(132,139,200,0.18)] hover:shadow-none
		duration-300
		bg-white;
	}

	.GLOBAL_BOX_DIV label {
		@apply font-semibold
		text-lg;
	}

	.GLOBAL_TABLE {
		@apply w-full
		overflow-x-auto
		shadow-[0_2rem_3rem_rgba(132,139,200,0.18)] hover:shadow-none
		duration-300
		bg-white
		rounded-3xl
		px-5
		py-3;
	}

	.GLOBAL_BUTTON_GRAY {
		@apply p-1
        px-5
        font-semibold
        rounded-3xl
		bg-[#ebebeb] 
		hover:bg-[#dddddd]
		duration-300
		text-[#707070]
		text-sm;
	}

	.GLOBAL_BUTTON_BLUE {
		@apply bg-[#00A1E2]
		hover:bg-[#007BB5]
		duration-300
		text-white
		p-1
        px-5
        font-semibold
        rounded-3xl
		text-sm;
	}

	.GLOBAL_BUTTON_RED {
		@apply bg-[#DF166E]
		hover:bg-[#B90D5A]
		duration-200
		text-white
		p-1
        px-5
        font-semibold
        rounded-3xl
		text-sm;
	}

	.GLOBAL_BUTTON_GREEN {
		@apply bg-[#6FD273]
		hover:bg-[#4E9A4F]
		duration-200
		text-white
		p-1
        px-5
		ml-2
        font-semibold
        rounded-3xl
		text-sm;
	}

	.GLOBAL_SUBHEADER {
		@apply flex
		flex-row
		pb-5
		items-center
		justify-between;
	}

	.GLOBAL_SUBHEADER h1 {
		@apply text-2xl
		font-bold;
	}

	.GLOBAL_SUBHEADER_TITLE {
		@apply text-2xl
		font-bold;
	}

	.GLOBAL_ANALYTICS {
		@apply px-10
		pb-7;
	}

	.GLOBAL_ANALYTICS_ROW {
		@apply flex
		flex-row
		gap-10
		justify-between;
	}

	.GLOBAL_ANALYTICS_CARD {
		@apply flex
		flex-row
		flex-grow
		justify-between
		items-center
		columns-2
		p-7
		h-32
		w-1/3;
	}

	.GLOBAL_ANALYTICS_CARD_TEXT {
		@apply pr-10;
	}

	.GLOBAL_ANALYTICS_CARD_TITLE {
		@apply text-sm
		font-semibold
	}

	.GLOBAL_ANALYTICS_CARD_VALUE {
		@apply text-2xl
		font-bold;
	}

	.GLOBAL_ANALYTICS_CARD_ICON i {
		@apply text-[84px];
	}
	/* -- End of Global Classes -- */





	/* -- Dashboard Classes -- */
	.DASHBOARD_RECENT {
		@apply px-10;
	}

	.DASHBOARD_RECENT_SHOW_A {
		@apply flex
		outline-none
		items-center
		justify-center
		p-5
		text-sm
		text-[#02A0E0];
	}

	.DASHBOARD_RECENT_HEADER {
		@apply flex
		flex-row
		pb-5
		items-center
		text-2xl
		font-bold;
	}
	/* -- End of Dashboard Classes -- */




	
	/* -- Orders Classes -- */
	.ORDERS_SEARCH {
		@apply mx-10
		mb-3
		px-10
		flex
		flex-row
		items-center
		justify-between
		shadow-[0_2rem_3rem_rgba(132,139,200,0.18)] hover:shadow-none
		duration-300
		bg-white
		rounded-3xl;
	}

	.ORDER_SEARCH_BUTTON {
		@apply flex
		items-center;
	}

	.ORDERS_SEARCH i {
		@apply text-[#7F7F7F]
		text-[20px];
	}

	.ORDERS_SEARCH input {
		@apply p-2
		pl-4
		w-full
		border-none
		outline-none;
	}

	.ORDERS_SEARCH .columns-1 {
		@apply flex
		flex-row;
	}

	.ORDERS_CONTENT {
		@apply px-10;
	}
	/* End of Orders Classes */





	/* New-login Classes */
	.NEWLOGIN_INFO {
		@apply px-10
		flex-grow;
	}

	.NEWLOGIN_INFO_BUTTONS {
		@apply flex
		flex-row
		justify-end;
	}

	.NEWLOGIN_INPUT {
		@apply flex
		flex-row
		gap-4
		justify-between
		px-12
		py-8
		mb-6
		columns-3;
	}

	.NEWLOGIN_INPUT_COLUMN {
		@apply flex
		flex-col
		w-full;
	}

	.NEWLOGIN_INPUT_COLUMN_CONTAINER {
		@apply flex
		flex-col
		pb-3;
	}

	/* End of New-login Classes */





	/* Customers Input Classes */
	.CUSTOMERS_INFO {
		@apply px-10
		flex-grow;
	}

	.CUSTOMERS_INPUT {
		@apply flex
		flex-row
		gap-10
		justify-start
		px-12
		py-8
		mb-6;
	}

	.CUSTOMERS_INPUT_COLUMN {
		@apply flex
		flex-col
		max-w-[400px]
		w-full;
	}

	.CUSTOMERS_INPUT_COLUMN_CONTAINER {
		@apply flex
		flex-col
		pb-3;
	}
	/* End of Customers Input Classes */





	/* Products Input Classes */
	.PRODUCTS_INPUT {
		@apply px-10
		pb-10
		flex-grow;
	}

	.PRODUCTS_INPUT_NOTE {
		@apply flex
		flex-row
		justify-start
		py-4;
	}

	.PRODUCTS_INPUT_NOTE p {
		@apply text-xs
		font-light
		text-[#DC186E];
	}

	.PRODUCTS_BUTTON_ACTIVE {
		@apply bg-[#00A1E2]
		hover:bg-[#007BB5]
		duration-200
		text-white
		p-1
        px-5
        font-semibold
        rounded-3xl;
	}

	.PRODUCTS_BUTTON_INACTIVE {
		@apply p-1
		px-5
		font-semibold
		bg-[#ffffff] 
		hover:bg-gray-100
		duration-300
		text-black;
	}

	.PRODUCTS_INPUT_ITEMS {
		@apply flex
		flex-row
		columns-2
		gap-5
		justify-between;
	}

	.PRODUCTS_INPUT_ITEMS_TABLE {
		@apply w-full
		px-5
		py-3;
	}

	.PRODUCTS_INPUT_ITEMS_TOTAL {
		@apply flex
		flex-col
		p-5
		max-w-[300px]
		w-full
		min-h-40
		max-h-44
		justify-between;
	}

	.PRODUCTS_INPUT_ITEMS_TOTAL_TITLE {
		@apply flex
		flex-col
		justify-items-start;
	}

	.PRODUCTS_INPUT_ITEMS_TOTAL_TITLE h1:nth-of-type(1) {
		@apply text-xl
		font-bold
		text-black;
	}

	.PRODUCTS_INPUT_ITEMS_TOTAL_TITLE h1:nth-of-type(2) {
		@apply font-medium
		text-[#059212];
	}

	.PRODUCTS_INPUT_ITEMS_TOTAL_BUTTONS {
		@apply flex
		flex-row
		justify-end;
	}
	/* End of Products Input Classes */

	/* Order Details Classes */
	.DETAILS_CONTAINER {
		@apply px-10
		pb-10
		flex-grow;
	}

	.DETAILS_ORDERID h1 {
		@apply text-2xl
		text-[#00A1E2]
		font-semibold;
	}

	.DETAILS_CONTAINER_ROW {
		@apply flex
		flex-row
		gap-5
		justify-between;
	}

	.DETAILS_CONTAINER_ROW_LEFT {
		@apply flex
		flex-col
		w-1/2;
	}

	.DETAILS_CONTAINER_ROW_RIGHT {
		@apply flex
		flex-col
		w-1/2;
	}

	.DETAILS_CONTAINER_ROW_COLUMN {
		@apply flex
		flex-col
		w-full;
	}

	.DETAILS_CONTAINER_ROW_TABLE {
		@apply w-full
		my-5
		px-7
		pt-3
		pb-5;
	}

	.DETAILS_CONTAINER_ROW_TABLE tr {
		@apply border-b
		border-gray-200
		hover:bg-gray-100;
	}

	.DETAILS_CONTAINER_ROW_TABLE td {
		@apply px-4
		py-2
		font-semibold
		text-sm;
	}

	.DETAILS_CONTAINER_ROW_BUTTON {
		@apply flex
		flex-row
		justify-end
		pt-5;
	}

	.DETAILS_CONTAINER_SUBHEADER {
		@apply flex
		flex-row
		pt-3
		items-center
		font-bold
		text-2xl;
	}

	/* End of Order Details Classes */



	/* Temporary Experimetal CSS */
	.tab {
		@apply p-1 px-5 font-semibold rounded-3xl;
		background-color: theme('colors.tab.inactive'); /* Inactive tab color */
		color: theme('colors.tab.inactive'); /* Inactive tab color */
		transition: background-color 200ms, color 200ms; /* Add transition effect */
	}

	.tab.tab-active {
		background-color: theme('colors.tab.active'); /* Active tab color */
		color: theme('colors.tab.active'); /* Active tab color */
	}
}
